@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&family=Rubik:ital,wght@0,300;1,300;1,400&display=swap');


* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 background: url(./images/background.webp);
 color: #000;
 font-family: 'Roboto', sans-serif;
 font-size: 0.895rem;
 margin: 0 auto;
 text-align: center;
}

header {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

#description {
 font-size: 1rem;
}


/* form section*/
form {
 background-color: rgba(0,0,0,.9);
 color: #fff;
 max-width: 1200px;
 width: 100%;
 margin: 50px auto;
 padding: 20px;
 box-shadow: 10px -8px 74px 0px rgba(0,0,0,.1);
 border-radius: 5px;

}



.form-item {
 text-align: left;
 margin-bottom: 1rem;
} 

label {
 display: block;
 margin-bottom: .5rem;
}


input ,
textarea {
 display: block;
 width: 100%;
 padding: 10px 5px;
 border-radius: 5px;
 outline: 0;
 border: none;
}


#radio,
#checkbox{
 display: inline-block;
 width: auto;
 margin-bottom: .5rem;
}


#submit {
 width: 100%;
 padding: 20px 15px;
 border: 2px solid #000;
 box-shadow: 10px -8px 74px 0px rgba(0,0,0,.1);
 border-radius: 5px;
 
}


